[GENERAL]
data_format = channels_first
save_models = models
input_type = ampl
conv_type = conv
vocab_path = ./test/vocab.pkl

[TRAIN]
train = teacher
batch_size = 512
steps = 10
activation = relu
bn = false
temperature = 

[TEACHER]
filters = [250, 250, 250, 250, 250, 250, 250, 2000, 2000]
widths = [7, 7, 7, 7, 7, 7, 7, 32, 1]
strides = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

[STUDENT]
filters = [250, 250, 250, 250, 250, 250, 250, 2000, 2000]
widths = [7, 7, 7, 7, 7, 7, 7, 32, 1]
strides = [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]






