[GENERAL]
model_type = student
save_models = models/w2l_v1

data_format = channels_first
input_type = ampl
conv_type = conv
vocab_path = ./test/vocab.pkl
data_path = ./test/librispeech_tfrecords.dev

[TRAIN]
batch_size = 512
steps = 10
activation = relu
bn = false
temperature = 3

[TEACHER]
filters = [250, 250, 250]
widths = [7,7,7]
strides = [1, 1,1]

[STUDENT]
filters = [250,250]
widths = [7,7]
strides = [1, 1]


