[GENERAL]
model_type = student
save_model = ./models/student_test
input_channels = 257

data_format = channels_last
conv_type = conv
vocab_path = ./test/vocab.pkl
data_path = ./test/librispeech_tfrecords.dev
teacher_config = ./configs/wav2letter_v1.config
teacher_dir = ./models/w2l_v1

[TRAIN]
batch_size = 512
steps = 10
activation = relu
bn = false
temperature = 3

[TEACHER]
filters = [250, 250, 250]
widths = [7,7,7]
strides = [1, 1,1]

[STUDENT]
filters = [250,250]
widths = [7,7]
strides = [1, 1]


