[GENERAL]
model_type = student
save_model = ./models/student_test
input_channels = 257
data_format = channels_last
conv_type = conv


[FILES]
vocab_path = ./tfrecords_data/vocab.pkl
train_data = ./tfrecords_data/tfrecords_mfccs.train
eval_data = ./tfrecords_data/tfrecords_mfccs.dev_clean
test_data = ./tfrecords_data/tfrecords_mfccs.test_clean
teacher_logits = ./tfrecords_data/w2l_v1.logits
teacher_config = ./configs/wav2letter_v1.config
teacher_dir = ./models/w2l_v1


[TRAIN]
batch_size = 5
steps = 10
activation = relu
bn = false
temperature = 20
alpha = 0.3
clipping = 500


[STUDENT]
filters = [250,250]
widths = [7,7]
strides = [1, 1]
dropouts = [0,0]


