[GENERAL]
model_type = teacher
save_model = models/w2l_v1
input_channels = 120
data_format = channels_last
conv_type = conv

[FILES]
vocab_path = ./data/tfrecords_data/vocab.pkl
train_data = ./data/tfrecords_data/tfrecords_mfccs.train
eval_data = ./data/tfrecords_data/tfrecords_mfccs.dev_clean
test_data = ./data/tfrecords_data/tfrecords_mfccs.test_clean

[TRAIN]
batch_size = 5
epochs = 5
activation = relu
bn = false
clipping = 0
adam_lr = 1e-3
adam_eps = 1e-8

[TEACHER]
filters = [250, 250]	
widths = [ 32, 1]
strides = [ 1, 1]
dropouts = [ 0, 0]


[TEST]
filters = [250,250, 250, 250, 250, 250, 250, 250, 2000, 2000]		
widths = [ 48,7, 7, 7, 7, 7, 7, 7, 32, 1]
strides = [2,1, 1, 1, 1, 1, 1, 1, 1, 1]
dropouts = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]






