[GENERAL]
model_type = student
save_model = ./models/st_w2lv1
input_channels = 39
data_format = channels_last
conv_type = conv
quantize = False


[FILES]
vocab_path = ./data/tfrecords_data/ctc_vocab.txt
train_data = ./data/tfrecords_data/tfrecords_mfccs.train
eval_data = ./data/tfrecords_data/tfrecords_mfccs.dev-clean
test_data = ./data/tfrecords_data/tfrecords_mfccs.test-clean
teacher_logits = ./data/tfrecords_data/w2l_v1.logits


[TRAIN]
batch_size = 5
epochs = 2
activation = relu
bn = false
alpha = 0.3
temperature = 2
clipping = 0
adam_lr = 1e-4
adam_eps = 1e-8

[LM]
lm = True
beam_search = True
knlem_op = data/test_knlm/libctc_decoder_with_kenlm.so
lm_binary = ./data/test_knlm/lm.binary
lm_trie = ./data/test_knlm/trie
lm_alphabet = ./data/test_knlm/alphabet.txt
lm_weights = 1.75
word_count_weight = 1.00
valid_word_count_weight = 1.00
top_paths = 1
beam_width = 1024


[STUDENT]
filters = [128]
widths = [1]
strides = [1]
dropouts = [0]
