[GENERAL]
model_type = student
save_model = ./models/st_w2lv1
input_channels = 39
data_format = channels_last
conv_type = conv
quantize = False


[FILES]
vocab_path = ./data/tfrecords_data/ctc_vocab.pkl
train_data = ./data/tfrecords_data/tfrecords_mfccs.train
eval_data = ./data/tfrecords_data/tfrecords_mfccs.dev_clean
test_data = ./data/tfrecords_data/tfrecords_mfccs.test_clean
teacher_logits = ./data/tfrecords_data/w2l_v1.logits


[TRAIN]
batch_size = 5
epochs = 2
activation = relu
bn = false
alpha = 0.4
temperature = 5
clipping = 0
adam_lr = 1e-4
adam_eps = 1e-8


[STUDENT]
filters = [128]
widths = [1]
strides = [1]
dropouts = [0]
