[GENERAL]
model_type = teacher
save_model = models/w2l_v1
input_channels = 39
data_format = channels_last
conv_type = conv

[FILES]
vocab_path = ./data/tfrecords_data/ctc_vocab.txt
train_data = ./data/tfrecords_data/tfrecords_mfccs.train
eval_data = ./data/tfrecords_data/tfrecords_mfccs.dev-clean
test_data = ./data/tfrecords_data/tfrecords_mfccs.test-clean

[TRAIN]
batch_size = 5
epochs = 2
activation = relu
bn = false
clipping = 0
adam_lr = 1e-3
adam_eps = 1e-8

[LM]
lm = True
beam_search = True
knlem_op = data/test_knlm/libctc_decoder_with_kenlm.so
lm_binary = data/test_knlm/lm.binary
lm_trie = data/test_knlm/trie
lm_alphabet = data/test_knlm/alphabet.txt
lm_weights = 1.75
word_count_weight = 1.00
valid_word_count_weight = 1.00
top_paths = 1
beam_width = 1024


[TEACHER]
filters = [128, 128]	
widths = [ 7, 7]
strides = [ 1, 1]
dropouts = [ 0, 0]


[TEST]
filters = [250,250, 250, 250, 250, 250, 250, 250, 2000, 2000]		
widths = [ 48,7, 7, 7, 7, 7, 7, 7, 32, 1]
strides = [2,1, 1, 1, 1, 1, 1, 1, 1, 1]
dropouts = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]






